<div>
<p id="notice"><%= notice %></p>

<p>
  <strong>Event:</strong>
  <%= @event.event_name %>
</p>

<p>
  <strong>Date:</strong>
  <%= @event.date %>
</p>

<p>
  <strong>Time:</strong>
  <%= @event.time %>
</p>

<p>
  <strong>Location:</strong>
  <%= @event.location %>
</p>

<p>
  <strong>Event Type:</strong>
  <%= @event.event_type %>
</p>

<p>
  <strong>Point Value:</strong>
  <%= @event.point_value %>
</p>

<p>
  <strong>description:</strong>
  <%= @event.description %>
</p>

<p>
  <strong>Password:</strong>
  <%= @event.password %>
</p>

<%= link_to 'Edit', edit_member_event_path(@event) %> |
<%= link_to 'Back', member_events_path %>

<hr>
    
<strong>Attendedees:</strong>

<% @attendance_logs.each do |log| %>
  <hr>
  <p>
  <strong>Name:</strong>
  <% user = User.find(log.user_id)%>
  <%= user.name %>
  </p>
  <hr>
<% end %>

</div>


