<% provide(:title, "Log in") %>
<%= stylesheet_link_tag 'login' %>

<head>
  <link rel="stylesheet" href="/app/assets/stylesheets/login.css">
</head>

<div class = "walkway"></div>


<div class = "forma forma-login">
  <div class = "login-title">Login </div> 
  <br>
    <%= form_with(url: login_path, scope: :session, local: true) do |f| %>

      <%= f.label :email %>
      <%= f.email_field :email, class: 'form-control' %>

      <%= f.label :password %>
      <%= f.password_field :password, class: 'form-control' %>

      <%= f.submit "Log in", class: "btn btn-primary" %>
    <% end %>
  <br>
  <p style="color:white;"> New user? <u> <%= link_to "Sign up now!", create_account_path, class: "sign-up-button" %> </u></p>
  <hr>
  <a href="/index" style="color:white;"><button type="button" class="buttonLog-back">Back</button></a> 
  <a href="admins/sign_in" style="color:white;"><button type="button" class="buttonLog-back">Login as Admin</button></a>
</div>