<% provide(:page_title, @user.name) %>

<p id="notice"><%= notice %></p>

<%= stylesheet_link_tag 'users_show' %>
<% content_for :main do %>
    <main>
    <%= render :partial => 'page/nav_bar' %>
    <div class="container first-container-about container-fluid">
        <div class = "row first-row make-f">
            <p class="tamu-row-1">Texas A&Ms Professional Brotherhood</p>

        </div>
        <div class = "row about-row">
            <div class="col what-is-abb order-last">
                <h1>User Description</h1>
                <hr style="color:white">
                

                <div>

                <br>

                <div>
                  <strong>Name:</strong>
                  <%= @user.name %>
                </div>
                <br>
                <div>
                  <strong>Major:</strong>
                  <%= @user.major %>
                </div>
                <br>
                <div>
                  <strong>Email:</strong>
                  <%= @user.email %>
                </div>
                <br>
                <div>
                  <strong>Position:</strong>
                  <%= @user.position %>
                </div>
                <br>
                <div>
                  <strong>Service Points:</strong>
                  <%= @user.service_points %>
                </div>
                <br>
                <div>
                  <strong>Brother Points:</strong>
                  <%= @user.brother_points %>
                </div>
                <br>
                <div>
                  <strong>Social Points:</strong>
                  <%= @user.social_points %>
                </div>
                <br>
                <div>
                  <strong>Study Hours:</strong>
                  <%= @user.study_hours %>
                </div>
                <div>
                  <%= @user.image_url %>
                </div>
                <br>
                  <% if (!current_admin.nil? || current_user.is_admin) %>
                    <div class="field">
                      <strong>Is_admin:</strong>
                      <%= @user.is_admin %>
                    </div>

                  <% end %>
                <div>
                  <strong>User Image:</strong>
                    <% if @user.image.attached? %>
                      <%= image_tag @user.image, width: "50px", height: "50px" %>
                    <% else %>
                      <%= image_tag 'defaultProf.jpg', width: "50px", height: "50px" %>
                    <% end %>
                </div>
                <br>
                <u> <%= link_to 'Edit', edit_user_path(@user), {:style=>'color:#FFFFFF;'} %> </u> |
                <u> <%= link_to 'Back', users_path(@user), {:style=>'color:#FFFFFF;'} %> </u> |
                <u> <%= link_to("Back To Points", {:controller => 'membership', :action => 'points', :style=>'color:#FFFFFF;'}) %> </u> |
                <u> <%= link_to 'Home', root_url, {:style=>'color:#FFFFFF;'} %> </u>
                
                <br>
                <br>
                <% if !current_admin.nil? || current_user.is_admin %>
                  <%= link_to "delete", @user, method: :delete, data: { confirm: "Are you sure?" } %>
                <% end %>

                <hr>                

                <br>
                <br>
                <br>

                </div>
            </div>
        </div>
    </div>
</main>
<% end %>
</div>