<% provide(:page_title, @user.name) %>
<div>
  <aside>
    <section>
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %>
      </h1>
    </section>
  </aside>
</div>

<p>
  <strong>year:</strong>
  <%= @user.year %>
</p>
<p>
  <strong>major:</strong>
  <%= @user.major %>
</p>
<p>
  <strong>email:</strong>
  <%= @user.email %>
</p>
<p>
  <strong>position:</strong>
  <%= @user.position %>
</p>
<p>
  <strong>service_points:</strong>
  <%= @user.service_points %>
</p>
<p>
  <strong>brother_points:</strong>
  <%= @user.brother_points %>
</p>
<p>
  <strong>social_points:</strong>
  <%= @user.social_points %>
</p>
<p>
  <strong>study_hours:</strong>
  <%= @user.study_hours %>
</p>
<p>
  <strong>image_url:</strong>
  <%= @user.image_url %>
</p>

<p>
  <strong>User Image:</strong>
    <% if @user.image.attached? %>
      <%= image_tag @user.image, width: "50px", height: "50px" %>
    <% else %>
      <%= image_tag 'defaultProf.jpg', width: "50px", height: "50px" %>
    <% end %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
<%= link_to("Back To Points", {:controller => 'membership', :action => 'points'})%>
<%= link_to 'Home', root_url %>