<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>
<p>
  <strong>DOB:</strong>
  <%= @user.DOB %>
</p>
<p>
  <strong>year:</strong>
  <%= @user.year %>
</p>
<p>
  <strong>major:</strong>
  <%= @user.major %>
</p>
<p>
  <strong>email:</strong>
  <%= @user.email %>
</p>
<p>
  <strong>position:</strong>
  <%= @user.position %>
</p>
<p>
  <strong>service_points:</strong>
  <%= @user.service_points %>
</p>
<p>
  <strong>brother_points:</strong>
  <%= @user.brother_points %>
</p>
<p>
  <strong>social_points:</strong>
  <%= @user.social_points %>
</p>
<p>
  <strong>gpa:</strong>
  <%= @user.gpa %>
</p>
<p>
  <strong>study_hours:</strong>
  <%= @user.study_hours %>
</p>
<p>
  <strong>is_officer:</strong>
  <%= @user.is_officer %>
</p>
<p>
  <strong>is_admin:</strong>
  <%= @user.is_admin %>
</p>
<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back To Users', users_path %> |
<%= link_to("Back To Points", {:controller => 'membership', :action => 'points'})%>