<p id="notice"><%= notice %></p>

<h1>Support Logs</h1>

<table>
  <thead>
    <tr>
      <th>Event</th>
      <th>Sponsor</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @support_logs.each do |support_log| %>
      <tr>
        <td><%= support_log.event_id %></td>
        <td><%= support_log.sponsor_id %></td>
        <td><%= link_to 'Show', support_log %></td>
        <td><%= link_to 'Edit', edit_support_log_path(support_log) %></td>
        <td><%= link_to 'Destroy', support_log, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Support Log', new_support_log_path %>