<div>

    <h2>Events</h2>

    <%= link_to("Create New Event", "#", :class =? 'action new') %>

    <table class="listing" summary="Event List">
        <% @events.each do |event| %>
        <tr>
            <td><%= event.event_name %></td>
            <td><%= event.date %></td>
            <td>
                <%= link_to("Show", "#", :class => 'action show') %>
                <%= link_to("Edit", "#", :class => 'action edit') %>
                <%= link_to("Delete", "#", :class => 'action delete') %>
            </td>
        </tr>
        <% end %>
    </table>
</div>