<% @page_title = "ABB Home" %>
<%= stylesheet_link_tag 'home' %>
<% content_for :main do %>
<main>
   <%= render :partial => 'page/nav_bar' %>
   <div class="container first-container">
      <div class = "row first-row make-f">
         <p class="tamu-row-1">Texas A&M’s Professional Brotherhood</p>
         <h1>Aggie Business Brothers</h1>
      </div>
      <div class = "row">
         <div class="col-lg image-slideshow">
            <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
               <div class="carousel-inner">
                  <div class="carousel-item active">
                     <%= image_tag "group_photo.jpg", :class => "group-photo" %>
                  </div>
                  <div class="carousel-item">
                     <%= image_tag "group_photo.jpg", :class => "group-photo" %>
                  </div>
                  <div class="carousel-item">
                     <%= image_tag "group_photo.jpg", :class => "group-photo" %>
                  </div>
               </div>
               <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
               <span class="carousel-control-prev-icon" aria-hidden="true"></span>
               <span class="sr-only"></span>
               </a>
               <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
               <span class="carousel-control-next-icon" aria-hidden="true"></span>
               <span class="sr-only"></span>
               </a>
            </div>
         </div>
         <div class = "about-us col-lg">
            <h1>About Us</h1>
            <hr>
            <p>
               We strive to introduce a passion for business that will lead members to successful
               career opportunities. We place an emphasis on brotherhood in order to create a culture of integrity
               and excellence by bringing together members with a shared love for our University and our core values.
            </p>
         </div>
      </div>
      <div class="mask"></div>
   </div>
   <div class="container second-container">
      <h1 style="text-align:center">Questions</h1>
      <hr>
      <form method="post">
         <div class="row d-flex w-100 justify-content-evenly">
            <div class="col d-flex justify-content-center">
               <div class="form-group col-xs-4 col-md-4">
                  <label for="first-name" class="control-label">First Name</label>
                  <input type="name" value='' class="form-control" id="first-name" placeholder="First">
               </div>
            </div>
            <div class="col d-flex justify-content-center">
               <div class="form-group col-xs-4 col-md-4">
                  <label for="last-name" class="control-label">Last Name</label>
                  <input type="name" value='' class="form-control" id="last-name" placeholder="Last">
               </div>
            </div>
         </div>
         <div class="row d-flex w-100">
            <div class="col d-flex justify-content-center">
               <div class="form-group col-xs-4 col-md-4">
                  <label for="email" class="control-label">Email</label>
                  <input type="email" value='' class="form-control" id="email" placeholder="johndoe@gmail.com">
               </div>
            </div>
            <div class="col d-flex justify-content-center">
               <div class="form-group col-xs-4 col-md-4">
                  <label for="phone-number" class="control-label">Phone Number</label>
                  <input type="text" value='' class="form-control" id="phone-number" placeholder="123-456-7890">
               </div>
            </div>
         </div>
         <div class="row d-flex w-100">
            <div class="col d-flex justify-content-center w-100 message-form">
               <div class="form-group col-xs-4 col-md-4 w-100">
                  <label for="message" class="control-label">Message</label>
                  <textarea type="text" rows="7" cols="20" value='' class="form-control" id="message" placeholder="Type..."></textarea>
               </div>
            </div>
         </div>
         <div class="row d-flex w-100">
            <div class="col d-flex justify-content-center">
               <input class="btn btn-primary submit-btn btn-lg" type="submit" value="Submit">
            </div>
         </div>
         <div class="row d-flex w-100 logos-png">
            <div class="col align-items-end flex-column float-right ig-png-div">
               <div>
                  <a href="">
                    <%= image_tag "ig-png.png", :class => "ig-png" %>
                  </a>
               </div>
            </div>
            <div class="col align-items-start flex-column linkedin-png-div">
               <div>
                  <a href="">
                    <%= image_tag "linkedIn-png.png", :class => "linkedin-png" %>
                  </a>
               </div>
            </div>
         </div>
      </form>
   </div>
</main>
<% end %>