<% @page_title = "ABB Our Team Page" %>
<%= stylesheet_link_tag 'home' %>

<h1>Our Team Page</h1>
<% content_for :main do %>
    <main>
       <%= render :partial => 'page/nav_bar' %>
       <div class="container first-container">
          <div class = "row first-row make-f">
             <p>Texas A&M’s Professional Brotherhood</p>
          </div>
          <div class = "row">
            <div class = "about-us col-lg">
               <h1>Executive Team</h1>
               <hr>
               <figure class="figure">
                  <%= image_tag "member_pictures/Brandon_Homann.webp", :class => "figure-img img-fluid rounded", :style => "width:250px; height:auto;"%>
                  <figcaption class="figure-caption" style="color:white;">Brandon Homann | President</figcaption>
                  <a href="mailto: brandon.homann@tamu.edu" class="btn btn-primary" style="background-color:black; border: 2px solid black;">Contact Me</a>
               </figure>
               <figure class="figure">
                  <%= image_tag "member_pictures/Collin_Froehlich.webp", :class => "figure-img img-fluid rounded", :style => "width:250px; height:auto;"%>
                  <figcaption class="figure-caption" style="color:white;">Collin Froehlich | Vice President</figcaption>
                  <a href="mailto: Froehlichcollin@yahoo.com" class="btn btn-primary" style="background-color:black; border: 2px solid black;">Contact Me</a>
               </figure>
               <figure class="figure">
                  <%= image_tag "member_pictures/Nate_Garcia.webp", :class => "figure-img img-fluid rounded", :style => "width:250px; height:auto;"%>
                  <figcaption class="figure-caption" style="color:white;">Nate Garcia | VP of Finance</figcaption>
                  <a href="mailto: Nategarcia@tamu.edu" class="btn btn-primary" style="background-color:black; border: 2px solid black;">Contact Me</a>
               </figure>
               <figure class="figure">
                  <%= image_tag "member_pictures/Tony_Hernandez.webp", :class => "figure-img img-fluid rounded", :style => "width:250px; height:auto;"%>
                  <figcaption class="figure-caption" style="color:white;">Tony Hernandez | VP of Brotherhood</figcaption>
                  <a href="mailto: antonio.hernandez23@tamu.edu" class="btn btn-primary" style="background-color:black; border: 2px solid black;">Contact Me</a>
               </figure>
               <figure class="figure">
                  <%= image_tag "member_pictures/Dilan_Patel.webp", :class => "figure-img img-fluid rounded", :style => "width:250px; height:auto;"%>
                  <figcaption class="figure-caption" style="color:white;">Dilan Patel | VP of Networking</figcaption>
                  <a href="mailto: Dilan.Patel@tamu.edu" class="btn btn-primary" style="background-color:black; border: 2px solid black;">Contact Me</a>
               </figure>
               <figure class="figure">
                  <%= image_tag "member_pictures/Thomas_Traicoff.webp", :class => "figure-img img-fluid rounded", :style => "width:250px; height:auto;"%>
                  <figcaption class="figure-caption" style="color:white;">Thomas Traicoff | VP of Community Service</figcaption>
                  <a href="mailto: ttraicoff@tamu.edu" class="btn btn-primary" style="background-color:black; border: 2px solid black;">Contact Me</a>
               </figure>
               <figure class="figure">
                  <%= image_tag "member_pictures/Jacob_Grigsby.webp", :class => "figure-img img-fluid rounded", :style => "width:250px; height:auto;"%>
                  <figcaption class="figure-caption" style="color:white;">Jacob Grigsby | VP of Public Relations</figcaption>
                  <a href="mailto: Jacobgrigsby@tamu.edu" class="btn btn-primary" style="background-color:black; border: 2px solid black;">Contact Me</a>
               </figure>
               <figure class="figure">
                  <%= image_tag "member_pictures/Brock_Cantu.webp", :class => "figure-img img-fluid rounded", :style => "width:250px; height:auto;"%>
                  <figcaption class="figure-caption" style="color:white;">Brock Cantu | VP of Professionalism</figcaption>
                  <a href="mailto: Brockcan2@tamu.edu" class="btn btn-primary" style="background-color:black; border: 2px solid black;">Contact Me</a>
               </figure>
               <hr>
               <h1>Fall 2021 Class</h1>
               <hr>
               <figure class="figure">
                  <%= image_tag "member_pictures/Aaron_Roberts.webp", :class => "figure-img img-fluid rounded", :style => "width:250px; height:auto;"%>
                  <figcaption class="figure-caption" style="color:white;">Aaron Roberts | Biology</figcaption>
               </figure>
               <figure class="figure">
                  <%= image_tag "member_pictures/Andrew_Zavala.webp", :class => "figure-img img-fluid rounded", :style => "width:250px; height:auto;"%>
                  <figcaption class="figure-caption" style="color:white;">Andrew Zavala | Business</figcaption>
               </figure>
               <figure class="figure">
                  <%= image_tag "member_pictures/Brennan_Ross.webp", :class => "figure-img img-fluid rounded", :style => "width:250px; height:auto;"%>
                  <figcaption class="figure-caption" style="color:white;">Brennan Ross | Wildlife & Fisheries</figcaption>
               </figure>
               <figure class="figure">
                  <%= image_tag "member_pictures/Austin_Domino.webp", :class => "figure-img img-fluid rounded", :style => "width:250px; height:auto;"%>
                  <figcaption class="figure-caption" style="color:white;">Austin Domino | Finance</figcaption>
               </figure>
               <figure class="figure">
                  <%= image_tag "member_pictures/Cody_Sims.webp", :class => "figure-img img-fluid rounded", :style => "width:250px; height:auto;"%>
                  <figcaption class="figure-caption" style="color:white;">Cody Sims | Mechanical Engineering</figcaption>
               </figure>
               <figure class="figure">
                  <%= image_tag "member_pictures/Colby_Chaplowe.webp", :class => "figure-img img-fluid rounded", :style => "width:250px; height:auto;"%>
                  <figcaption class="figure-caption" style="color:white;">Colby Chaplowe | Ag Economics</figcaption>
               </figure>
               <figure class="figure">
                  <%= image_tag "member_pictures/Caleb_Moderski.webp", :class => "figure-img img-fluid rounded", :style => "width:250px; height:auto;"%>
                  <figcaption class="figure-caption" style="color:white;">Caleb Moderski | Architecture</figcaption>
               </figure>
               <figure class="figure">
                  <%= image_tag "member_pictures/Cole_Rather.webp", :class => "figure-img img-fluid rounded", :style => "width:250px; height:auto;"%>
                  <figcaption class="figure-caption" style="color:white;">Cole Rather | Ag Economics</figcaption>
               </figure>
               <figure class="figure">
                  <%= image_tag "member_pictures/Chris_Zeidan.webp", :class => "figure-img img-fluid rounded", :style => "width:250px; height:auto;"%>
                  <figcaption class="figure-caption" style="color:white;">Chris Zeidan | Business</figcaption>
               </figure>
               <figure class="figure">
                  <%= image_tag "member_pictures/Derrick_Winn.webp", :class => "figure-img img-fluid rounded", :style => "width:250px; height:auto;"%>
                  <figcaption class="figure-caption" style="color:white;">Derrick Winn | Sports Management</figcaption>
               </figure>
               <figure class="figure">
                  <%= image_tag "member_pictures/Drew_Fenner.webp", :class => "figure-img img-fluid rounded", :style => "width:250px; height:auto;"%>
                  <figcaption class="figure-caption" style="color:white;">Drew Fenner | Parks & Rec</figcaption>
               </figure>
               <figure class="figure">
                  <%= image_tag "member_pictures/Cole_Feuquay.webp", :class => "figure-img img-fluid rounded", :style => "width:250px; height:auto;"%>
                  <figcaption class="figure-caption" style="color:white;">Cole Feuquay | Biomedical Sciences</figcaption>
               </figure>
               <figure class="figure">
                  <%= image_tag "member_pictures/Euan_Fraser.webp", :class => "figure-img img-fluid rounded", :style => "width:250px; height:auto;"%>
                  <figcaption class="figure-caption" style="color:white;">Euan Fraser | Biomedical Sciences</figcaption>
               </figure>
               <figure class="figure">
                  <%= image_tag "member_pictures/Connor_Nelson.webp", :class => "figure-img img-fluid rounded", :style => "width:250px; height:auto;"%>
                  <figcaption class="figure-caption" style="color:white;">Connor Nelson | Accounting</figcaption>
               </figure>
               <figure class="figure">
                  <%= image_tag "member_pictures/Jake_Lacey.webp", :class => "figure-img img-fluid rounded", :style => "width:250px; height:auto;"%>
                  <figcaption class="figure-caption" style="color:white;">Jake Lacey | Accounting</figcaption>
               </figure>
               <figure class="figure">
                  <%= image_tag "member_pictures/Hayden_Freeman.webp", :class => "figure-img img-fluid rounded", :style => "width:250px; height:auto;"%>
                  <figcaption class="figure-caption" style="color:white;">Hayden Freeman | M.I.S.</figcaption>
               </figure>
               <figure class="figure">
                  <%= image_tag "member_pictures/Dylan_Folse.webp", :class => "figure-img img-fluid rounded", :style => "width:250px; height:auto;"%>
                  <figcaption class="figure-caption" style="color:white;">Dylan Folse | Business</figcaption>
               </figure>
               <figure class="figure">
                  <%= image_tag "member_pictures/Hunter_Goudeau.webp", :class => "figure-img img-fluid rounded", :style => "width:250px; height:auto;"%>
                  <figcaption class="figure-caption" style="color:white;">Hunter Goudeau | Finance</figcaption>
               </figure>
               <figure class="figure">
                  <%= image_tag "member_pictures/Garrett_McAllister.webp", :class => "figure-img img-fluid rounded", :style => "width:250px; height:auto;"%>
                  <figcaption class="figure-caption" style="color:white;">Garrett McAllister | Construction Science</figcaption>
               </figure>
               <figure class="figure">
                  <%= image_tag "member_pictures/Ryan_Starritt.webp", :class => "figure-img img-fluid rounded", :style => "width:250px; height:auto;"%>
                  <figcaption class="figure-caption" style="color:white;">Ryan Starritt | Ag Economics</figcaption>
               </figure>
               <figure class="figure">
                  <%= image_tag "member_pictures/Jamison_Reynolds.webp", :class => "figure-img img-fluid rounded", :style => "width:250px; height:auto;"%>
                  <figcaption class="figure-caption" style="color:white;">Jamison Reynolds | Allied Health</figcaption>
               </figure>
               <figure class="figure">
                  <%= image_tag "member_pictures/Jarrod_Coker.webp", :class => "figure-img img-fluid rounded", :style => "width:250px; height:auto;"%>
                  <figcaption class="figure-caption" style="color:white;">Jarrod Coker | Geology</figcaption>
               </figure>
               <figure class="figure">
                  <%= image_tag "member_pictures/Jorge_Enciso_III.webp", :class => "figure-img img-fluid rounded", :style => "width:250px; height:auto;"%>
                  <figcaption class="figure-caption" style="color:white;">Jorge Enciso III | Nuclear Engineering</figcaption>
               </figure>
               <figure class="figure">
                  <%= image_tag "member_pictures/Jackson_Collins.webp", :class => "figure-img img-fluid rounded", :style => "width:250px; height:auto;"%>
                  <figcaption class="figure-caption" style="color:white;">Jackson Collins | Finance</figcaption>
               </figure>
               <figure class="figure">
                  <%= image_tag "member_pictures/William_Walters.webp", :class => "figure-img img-fluid rounded", :style => "width:250px; height:auto;"%>
                  <figcaption class="figure-caption" style="color:white;">William Walters | Finance</figcaption>
               </figure>
               <figure class="figure">
                  <%= image_tag "member_pictures/Noah_Kindseth.webp", :class => "figure-img img-fluid rounded", :style => "width:250px; height:auto;"%>
                  <figcaption class="figure-caption" style="color:white;">Noah Kindseth| PPA</figcaption>
               </figure>
               <figure class="figure">
                  <%= image_tag "member_pictures/Matt_Zschiesche.webp", :class => "figure-img img-fluid rounded", :style => "width:250px; height:auto;"%>
                  <figcaption class="figure-caption" style="color:white;">Matt Zschiesche | Accounting</figcaption>
               </figure>
               <figure class="figure">
                  <%= image_tag "member_pictures/Max_West.webp", :class => "figure-img img-fluid rounded", :style => "width:250px; height:auto;"%>
                  <figcaption class="figure-caption" style="color:white;">Max West | Education</figcaption>
               </figure>
               <figure class="figure">
                  <%= image_tag "member_pictures/Joseph_Jordana.webp", :class => "figure-img img-fluid rounded", :style => "width:250px; height:auto;"%>
                  <figcaption class="figure-caption" style="color:white;">Joseph Jordana | Finance</figcaption>
               </figure>
               <figure class="figure">
                  <%= image_tag "member_pictures/Thomas_Zorn.webp", :class => "figure-img img-fluid rounded", :style => "width:250px; height:auto;"%>
                  <figcaption class="figure-caption" style="color:white;">Thomas Zorn | Marketing</figcaption>
               </figure>
               <figure class="figure">
                  <%= image_tag "member_pictures/Shane_Little.webp", :class => "figure-img img-fluid rounded", :style => "width:250px; height:auto;"%>
                  <figcaption class="figure-caption" style="color:white;">Shane Little | M.I.S.</figcaption>
               </figure>
               <figure class="figure">
                  <%= image_tag "member_pictures/Preston_Belt.webp", :class => "figure-img img-fluid rounded", :style => "width:250px; height:auto;"%>
                  <figcaption class="figure-caption" style="color:white;">Preston Belt | Accounting</figcaption>
               </figure>
               <figure class="figure">
                  <%= image_tag "member_pictures/Mitch_Kalinowski.webp", :class => "figure-img img-fluid rounded", :style => "width:250px; height:auto;"%>
                  <figcaption class="figure-caption" style="color:white;">Mitch Kalinowski | Construction Science</figcaption>
               </figure>
               <figure class="figure">
                  <%= image_tag "member_pictures/Ryan_Powell.webp", :class => "figure-img img-fluid rounded", :style => "width:250px; height:auto;"%>
                  <figcaption class="figure-caption" style="color:white;">Ryan Powell | Finance</figcaption>
               </figure>
               <figure class="figure">
                  <%= image_tag "member_pictures/Ryan_Solberg.webp", :class => "figure-img img-fluid rounded", :style => "width:250px; height:auto;"%>
                  <figcaption class="figure-caption" style="color:white;">Ryan Solberg | Industrial Distribution</figcaption>
               </figure>
               <figure class="figure">
                  <%= image_tag "member_pictures/Thomas_Dennis.webp", :class => "figure-img img-fluid rounded", :style => "width:250px; height:auto;"%>
                  <figcaption class="figure-caption" style="color:white;">Thomas Dennis | Telecommunications</figcaption>
               </figure>
            </div>
          </div>
          <div class="mask"></div>
       </div>
       <div class="container second-container">
          <h1 style="text-align:center">Questions</h1>
          <hr>
          <form method="post">
             <div class="row d-flex w-100 justify-content-evenly">
                <div class="col d-flex justify-content-center">
                   <div class="form-group col-xs-4 col-md-4">
                      <label for="first-name" class="control-label">First Name</label>
                      <input type="name" value='' class="form-control" id="first-name" placeholder="First">
                   </div>
                </div>
                <div class="col d-flex justify-content-center">
                   <div class="form-group col-xs-4 col-md-4">
                      <label for="last-name" class="control-label">Last Name</label>
                      <input type="name" value='' class="form-control" id="last-name" placeholder="Last">
                   </div>
                </div>
             </div>
             <div class="row d-flex w-100">
                <div class="col d-flex justify-content-center">
                   <div class="form-group col-xs-4 col-md-4">
                      <label for="email" class="control-label">Email</label>
                      <input type="email" value='' class="form-control" id="email" placeholder="johndoe@gmail.com">
                   </div>
                </div>
                <div class="col d-flex justify-content-center">
                   <div class="form-group col-xs-4 col-md-4">
                      <label for="phone-number" class="control-label">Phone Number</label>
                      <input type="text" value='' class="form-control" id="phone-number" placeholder="123-456-7890">
                   </div>
                </div>
             </div>
             <div class="row d-flex w-100">
                <div class="col d-flex justify-content-center w-100 message-form">
                   <div class="form-group col-xs-4 col-md-4 w-100">
                      <label for="message" class="control-label">Message</label>
                      <textarea type="text" rows="7" cols="20" value='' class="form-control" id="message" placeholder="Type..."></textarea>
                   </div>
                </div>
             </div>
             <div class="row d-flex w-100">
                <div class="col d-flex justify-content-center">
                   <input class="btn btn-primary submit-btn btn-lg" type="submit" value="Submit">
                </div>
             </div>
             <div class="row d-flex w-100 logos-png">
                <div class="col align-items-end flex-column float-right ig-png-div">
                   <div>
                      <a href="">
                        <%= image_tag "ig-png.png", :class => "ig-png" %>
                      </a>
                   </div>
                </div>
                <div class="col align-items-start flex-column linkedin-png-div">
                   <div>
                      <a href="">
                        <%= image_tag "linkedIn-png.png", :class => "linkedin-png" %>
                      </a>
                   </div>
                </div>
             </div>
          </form>
       </div>
    </main>
    <% end %>
