<% @page_title = "ABB Recruitment Page" %>
<%= stylesheet_link_tag 'home' %>
<% @recruitment_message = Message.find_by name: 'Recruitment Message' %>
<% @recruitment_message_2 = Message.find_by name: 'Recruitment Message 2' %>
<% @recruitment_message_3 = Message.find_by name: 'Recruitment Message 3' %>

<% content_for :main do %>
<main>
<%= render :partial => 'page/nav_bar' %>
   <div class="container first-container">
      <div class = "row first-row make-f">
         <p>Texas A&M’s Professional Brotherhood</p>
         <h1>Recruitment</h1>
      </div>
      <div class = "row">
         <div class = "about-us col-lg">
            <h1>The Admission Process</h1>
            <hr>
            <p>
            <% if @recruitment_message && @recruitment_message.content %>
                    <%= @recruitment_message.content %>
            <% else %>
                    Create a message named 'Recruitment Message' and making its content whatever text you want to be displayed here.
            <% end %>
            </p>
            <p>
            <% if @recruitment_message_2 && @recruitment_message_2.content %>
                    <%= @recruitment_message_2.content %>
            <% end %>
            </p>
            <p>
            <% if @recruitment_message_3 && @recruitment_message_3.content %>
               <%= @recruitment_message_3.content %>
            <% end %>
            </p>
            <hr>
            <h1>Application</h1>
            <p></p>
            <button class="btn btn-primary submit-btn btn-lg" onclick="location.href='https://docs.google.com/forms/d/e/1FAIpQLSdIY5KiBgn1ckevB9RBh3yHUwqHxEffENlM8x_gufONZEF9dA/viewform'" type="button"> View Application </button>
         </div>
      </div>
      <div class="mask"></div>
   </div>
   <div class="container second-container">
      <h1 style="text-align:center">Questions</h1>
      <hr>
      <div class="submit-questions">
         <%= form_tag :action=>:send_email, :controller=>"membership" do %>
            <div class="field">
                  <strong>First Name</strong>
                  <%= text_field "first_name", "first_name", class: "form-control", placeholder: "John" %>
            </div>
            <div class="field">
                  <strong>Last Name</strong>
                  <%= text_field "last_name", "last_name", class: "form-control", placeholder: "Doe" %>
            </div>
            
            <div class="field">
                  <strong>Email</strong>
                  <%= text_field "email", "email", class: "form-control", placeholder: "doe@tamu.edu" %>
            </div>
            <div class="field">
                  <strong>Number</strong>
                  <%= text_field "number", "number", class: "form-control", placeholder: "123-456-7890" %>
            </div>
            <div class="field">
                  <strong>Message</strong>
                  <%= text_area "message", "message", :rows => 5, class: "form-control", placeholder: "Send us a message!" %>
            </div>

            <div class="actions">
                  <%= submit_tag "Submit Question", class: "btn btn-primary" %>
            </div>
         <% end %>
         <div class="row d-flex w-100 logos-png">
            <div class="col align-items-end flex-column float-right ig-png-div">
               <div>
                  <a href="https://www.instagram.com/tamuabb/" target = "_blank">
                    <%= image_tag "ig-png.png", :class => "ig-png" %>
                  </a>
               </div>
            </div>
            <div class="col align-items-start flex-column linkedin-png-div">
               <div>
                  <a href="https://www.linkedin.com/company/aggiebusinessbrothers/">
                    <%= image_tag "linkedIn-png.png", :class => "linkedin-png" %>
                  </a>
               </div>
            </div>
         </div>
   </div>
</main>
<% end %>