<% @page_title = "Sponsors" %>
<%= stylesheet_link_tag 'home' %>
<% @thank_you_message = Message.find_by name: 'Sponsors Message' %>
<% @sponsors_list = Sponsor.all %>

<% content_for :main do %>
  <main>
    <%= render :partial => 'page/nav_bar' %>
    <div class="container first-container">
        <div class = "row first-row make-f">
            <p>Texas A&M’s Professional Brotherhood</p>
            <h1>Our Sponsors</h1>
        </div>
        <div class = "row">
          <div class = "about-us col-lg">
              <hr>
              <p class="about-brandon"> 
              <% if @thank_you_message && @thank_you_message.content %>
                  <%= @thank_you_message.content %>
              <% else %>
                  Give your sponsors a nice thank you. Create a message named 'Sponsors Message' and making its content whatever text you want to be displayed here.
              <% end %> 
              <br>
                    <% @sponsors_list.each do |sponsor| %>
                        <br>
                        <br>
                        <%= sponsor.sponsor_name %>
                        <br>
                        <%= image_tag sponsor.image %>
                        <br>
                    <% end %>
          </div>
        </div>
        <div class="mask"></div>
      </div>
      
      <div class="container second-container">
        <h1 style="text-align:center">Questions</h1>
        <hr>
        <form method="post">
          <div class="row d-flex w-100 justify-content-evenly">
              <div class="col d-flex justify-content-center">
                <div class="form-group col-xs-4 col-md-4">
                    <label for="first-name" class="control-label">First Name</label>
                    <input type="name" value='' class="form-control" id="first-name" placeholder="First">
                </div>
              </div>
              <div class="col d-flex justify-content-center">
                <div class="form-group col-xs-4 col-md-4">
                    <label for="last-name" class="control-label">Last Name</label>
                    <input type="name" value='' class="form-control" id="last-name" placeholder="Last">
                </div>
              </div>
          </div>
          <div class="row d-flex w-100">
              <div class="col d-flex justify-content-center">
                <div class="form-group col-xs-4 col-md-4">
                    <label for="email" class="control-label">Email</label>
                    <input type="email" value='' class="form-control" id="email" placeholder="johndoe@gmail.com">
                </div>
              </div>
              <div class="col d-flex justify-content-center">
                <div class="form-group col-xs-4 col-md-4">
                    <label for="phone-number" class="control-label">Phone Number</label>
                    <input type="text" value='' class="form-control" id="phone-number" placeholder="123-456-7890">
                </div>
              </div>
          </div>
          <div class="row d-flex w-100">
              <div class="col d-flex justify-content-center w-100 message-form">
                <div class="form-group col-xs-4 col-md-4 w-100">
                    <label for="message" class="control-label">Message</label>
                    <textarea type="text" rows="7" cols="20" value='' class="form-control" id="message" placeholder="Type..."></textarea>
                </div>
              </div>
          </div>
          <div class="row d-flex w-100">
              <div class="col d-flex justify-content-center">
                <input class="btn btn-primary submit-btn btn-lg" type="submit" value="Submit">
              </div>
          </div>
          <div class="row d-flex w-100 logos-png">
              <div class="col align-items-end flex-column float-right ig-png-div">
                <div>
                    <a href="">
                      <%= image_tag "ig-png.png", :class => "ig-png" %>
                    </a>
                </div>
              </div>
              <div class="col align-items-start flex-column linkedin-png-div">
                <div>
                    <a href="">
                      <%= image_tag "linkedIn-png.png", :class => "linkedin-png" %>
                    </a>
                </div>
              </div>
          </div>
        </form>
    </div>
  </main>

<% end %>