<%= form_with(model: sponsor) do |form| %>
  <% if sponsor.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(sponsor.errors.count, "error") %> prohibited this sponsor from being saved:</h2>

      <ul>
        <% sponsor.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :event_id %>
    <%= form.number_field :event_id %>
  </div>

  <div class="field">
    <%= form.label :sponsor_name %>
    <%= form.text_field :sponsor_name %>
  </div>

  <div class="field">
    <%= form.label :sponsor_type %>
    <%= form.text_field :sponsor_type %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
