<p id="notice"><%= notice %></p>

<p>
  <strong>Sponsor name:</strong>
  <%= @sponsor.sponsor_name %>
</p>

<p>
  <strong>Sponsor type:</strong>
  <%= @sponsor.sponsor_type %>
</p>

<p>
  <strong>Sponsor Image:</strong>
  <% if @sponsor.image.attached? %>
     <%= image_tag @sponsor.image, width: "50px", height: "50px" %>
  <% else %>
     <%= image_tag 'defaultProf.jpg', width: "50px", height: "50px" %>
  <% end %>
</p>

<%= link_to 'Edit', edit_sponsor_path(@sponsor) %> |
<%= link_to 'Back', sponsors_path %>
