<h1>
A new question was submitted to the Aggie Business Brothers website:
</h1>

<p>
From: <%=@last_name%>, <%=@first_name%>
</p>

<p>
Their email: <%=@email%>
</p>

<p>
Their number: <%=@number%>
</p>

<h1>Message:</h1>
<p>
<%=@message%>
</p>