<%= form_with(model: @user) do |form| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
        <% @user.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  
  <div class="field">
    <%= form.label :Networking_points %>
    <%= form.number_field :networking_points %>
  </div>
  <div class="field">
    <%= form.label :brother_points %>
    <%= form.number_field :brother_points %>
  </div>
  <div class="field">
    <%= form.label :professionalism_points %>
    <%= form.number_field :social_points %>
  </div>
  <div class="field">
    <%= form.label :meeting_hours %>
    <%= form.text_field :study_hours %>
  </div>



  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>


