<div>
    <h1>Membership</h1>

    <hr>

    <p>
    <strong>Current Points for user:</strong>
    <%= @user.name %>
    </p>

    <hr>

    <table>
    <tr>
        <td><strong>service_points</strong></td>
        <td><%= @user.service_points %></td>
    </tr>
    <tr>
        <td><strong>brother_points</strong></td>
        <td><%= @user.brother_points %></td>
    </tr>
    <tr>
        <td><strong>social_points</strong></td>
        <td><%= @user.social_points %></td>
    </tr>
    <tr>
        <td><strong>study_hours</strong></td>
        <td><%= @user.study_hours %></td>
    </tr>
    </table>

    <div style="color:red;">
        <hr>
        <%= link_to("All Member Points", {:action => 'points'})%>
        <hr>
    </div>
</div>

