<div>
    <h1>Membership</h1>

    <hr>

    <p>
    <strong>Current Points for user:</strong>
    <%= @user.name %>
    </p>

    <table>

    <tr>
        <td><strong>service_points</strong></td>
        <td><%= @user.service_points %></td>
    </tr>
    <tr>
        <td><strong>brother_points</strong></td>
        <td><%= @user.brother_points %></td>
    </tr>
    <tr>
        <td><strong>social_points</strong></td>
        <td><%= @user.social_points %></td>
    </tr>
    <tr>
        <td><strong>study_hours</strong></td>
        <td><%= @user.study_hours %></td>
    </tr>
    </table>

    <hr>

    <div style="color:red;">
        <hr>
        <%= link_to("All Member Points", {:action => 'points'})%>
        <hr>
    </div>

    <hr>
    <strong>Submit Point Request:</strong>
    <%= render 'point_request_form', request: @request, user: @user %>
    <hr>

    <strong>Pending Point Request:</strong>

    <table>
        <thead>
        <tr>
            <th>Points  </th>
            <th>Category  </th>
            <th>Description  </th>
            <th colspan="2"></th>

        </tr>
        </thead>

    <tbody>
      <% @requests.each do |r| %>
        <tr>
          <td><%= r.points %></td>
          <td><%= r.category %></td>
          <td><%= r.description %></td>
          <td><%= link_to 'Edit', edit_hour_request_path(r) %></td>
          <td><%= link_to 'Cancel', r, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

    <div style="color:red;">
        <hr>
        <%= link_to("All Point Requests", '/hour_requests')%>
        <hr>
    </div>
    
</div>

